<!-- contains all messages -->

<header>
    <img class="pfp" src="icons/default_gc_pfp.png" alt="pfp" />
    
    <h2>GroupChatZ</h2>
</header>
<main class="d-flex flex-column">

<!-- append messages here -->

</main>
<footer>
    <form id="search-bar" action="">
        <input type="text" placeholder="Write something..." />
        <button>💬</button>
    </form>
</footer>
