<div class="contact contact justify-content-between d-flex flex-row align-items-center">
    <img class="pfp" src="icons/default_pfp.png" alt="pfp" />
    <h3>Contact name</h3>
    <p class="notification"></p>
</div>