<section id="menu">
    <header>
        <h1>HandShake</h1>
        <img class="pfp" src="icons/default_pfp.png" alt="pfp" />
    </header>

    <nav>
        <form id="search-bar" action="">
            <input type="text" placeholder="Search..." />
            <button>🔎</button>
        </form>
    </nav>
    <main>
        <ul id="contact-list">
            <!-- append contacts here -->
        </ul>
        
    </main>
</section>