<div class="contact justify-content-between d-flex flex-row align-items-center">
    <div class="col-3">
        <img class="pfp" src="icons/default_pfp.png" alt="pfp" />
    </div>
    <div class="col-8">
        <h3>Contact name</h3>
    </div>
    <div class="col-1">
        <p class="notification badge rounded-pill bg-danger"></p>
    </div>
</div>