<div id="title">
    <h1>HandShake</h1>
</div>

<section id="login">
    <section id="login_form" class="position-relative">
        <h2>Log in</h2>
        <br>
        <form>
            <input name="username" type="text" placeholder="Username">
            <br>
            <input name="password" type="password" placeholder="Password">
            <br>
            <button>Log in</button>
        </form>
    </section>

    <section id="signup_form" class="position-relative">
        <h2>Sign up</h2>
        <br>
        <form>
            <input name="username" type="text" placeholder="Username">
            <br>
            <input name="password" type="password" placeholder="Password">
            <br>
            <button>Sign up</button>
        </form>
    </section>
</section>