
    <div id="title">
        <h1>HandShake</h1>
        <h2><a class="btn btn-outline-light" href="">About us</a></h2>
    </div>

    
    <section id="login">
        <section id="login_form" class="position-relative">
            <h2>Already a user?</h2>
            <br>
            <form class="text-center" action="/auth/login" method = "post">
                <input name="username" id = "username_login" type="text" placeholder="Username">
                <br>
                <br>
                <input name="password" id = "password_login" type="password" placeholder="Password">
                <br>
                <br>
                <button  class="btn btn-outline-light .mx-auto" id = "button_login">Log in</button>
            </form>
        </section>

        <section id="signup_form" class="position-relative">
            <h2>Join HandShake now.</h2>
            <br>
            <form class="text-center" action="auth/register" method="post">
                <input name="username" type="text" placeholder="Username">
                <input name="email" type="text" placeholder="E-mail">

                <br>
                <br>
                <input name="password" type="password" placeholder="Password">
                <input name="confirm_password" type="password" placeholder="Confirm password">

                <br>
                <br>
                <button class="btn btn-outline-light .mx-auto">Sign up</button>
            </form>
        </section>
        
    </section>

    <footer id="login_page_footer">
        <p>made with ♡ by the <a class="link-light" href="https://github.com/ogs-at-usi/sa3-project" target="_blank">ogs @ USI</a></p>
    </footer>