<% let sender = "self";


%>
<div class="card <%= sender %>">
    <div class="card-body">
        <h5 class="card-title">Sender</h5>
        <p class="card-text">Message text</p>
    </div>
    <p class="timestamp text-end">Timestamp</p>
</div>
<br>