<% let sender = "self";


%>
<div class="card <%= sender %>">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
    </div>
    <p class="timestamp">17:54</p>
</div>
<br>